
html, body {
    height: 100%; /* Hace que el body ocupe toda la altura de la ventana */
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 70px;
    flex-direction: column;
    display: flex;
}
.principal {
    flex: 1 0 auto; /* Crece pero no se comprime */
    padding-bottom: 60px; /* Espacio para el footer, ajusta según su altura */
}
.autocenterContainer {
    max-width: 1100px;     /* amplada màxima */
    margin: auto;         /* centra horitzontalment */
    background: black;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px; 
}
.hero { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 5px;
    text-align: center;
}
.boton{
    display: inline-block; 
    padding: 10px 20px; 
    background-color: white; 
    color: black; 
    border-radius: 5px; 
}

#cabecera{
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      padding: 15px;
      background-color: black;
      text-align: left;
}
#pie{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    background-color: black;
    color: white;

}
a{
    color: #ffffff;
}

.coleccion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card {
    background-color: black;
    color: white;
    padding: 20px;
    width: 30%; 
    border-radius: 8px; 
}
.etiqueta{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px; 
}

.filtro{
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 40px;
}

.productoscard{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 40px;
}
img {
    height: 300px;
}
